@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Poppins';
}

h1,
h2 {
  margin: 0;
  color: #333333;
}

.frame {
  height: 100vh;
  position: relative;
}

.height-100vh {
  height: 100vh;
}

.navbar {
  height: 10vh;
  align-content: center;
}

.navbar a {
  color: #333333;
  padding: 0 16px;
  text-decoration: none;
  font-size: 15px;
}

.navbar a:hover {
  color: #5fa03e;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

ul li {
  display: inline-block;
}

.main-page {
  position: relative;
}

.main-page p {
  font-weight: 300;
  margin: 0;
  margin-top: 10px;
  font-size: 17px;
}

.hello {
  background-color: wheat;
}

.main-content {
  /* background-color: #dbdbdb; */
  margin: 0;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  height: 50%;
  width: 50%;
}

.main-pg-txt h1 {
  font-weight: 450;
  font-size: 70px;
  color: #5fa03e;
}

.main-pg-txt h2 {
  font-weight: 400;
  font-size: 50px;
}
.main-pg-txt p {
  font-weight: 300;
  font-size: 22px;
}

/* Style for the button */
.rounded-button {
  font-weight: 500;
  margin-top: 30px;
  background-color: #5fa03e;
  color: white;
  padding: 15px 80px;
  font-size: 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect */
.rounded-button:hover {
  background-color: #4e8c34;
}

.margin-80px {
  margin-right: 80px;
}

.container {
  display: flex; /* Enable Flexbox */
  margin-left: 80px;
  margin-right: 80px;
}

.height-90vh {
  height: 90vh; /* Full height of the viewport */
}

.main-pg-txt,
.main-pg-img {
  flex: 1;
}

.main-pg-txt {
  /* background-color: antiquewhite; */
  align-content: flex-end;
  padding-bottom: 110px;
}

.main-pg-img {
  /* background-color: #5fa03e; */
  align-content: center;
  padding-left: 100px;
}

.main-pg-img-fl {
  width: 500px;
  height: auto;
}

.img-fl-abt {
  width: 550px;
  height: auto;
}

.color-gray {
  /* background-color: #d8d8d8; */
  background-color: white;
}

.left {
  /* background-color: antiquewhite; */
  /* align-content: flex-end; */
  flex: 45;
  /* background-color: rgb(223, 223, 223); */
  align-content: center;
}

.about-txt-container {
  /* background-color: #5fa03e; */
  /* align-content: center; */
  flex: 55;
  /* background-color: bisque; */
  align-content: center;
}

.about-txt-container p {
  font-weight: 250;
  font-size: 25px;
  color: #333333;
  line-height: 1.5;
  word-spacing: 0.1em;
}

.about-txt-container h2 {
  font-weight: 300;
  font-size: 30px;
  color: #5fa03e;
}

.about-txt-container h1 {
  font-weight: 500;
  font-size: 50px;
}
